<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Server=ebbe02c2-64d7-4e54-8f76-a5ec00a9f0cb.sqlserver.sequelizer.com;Database=dbebbe02c264d74e548f76a5ec00a9f0cb;User ID=wpnblcbclvrtvapv;Password=bzLNAZKELWyWqWpzrWyhzahNmbyhqWU5YkAYjqYcbayLNpWLJrDdKDxar6ByzCpW;"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
